<!doctype html>

<title>{% block title %}{% endblock %} - Lisa's Temperature Control</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
    <h1>Lisa's Temperature Control</h1>
    <ul>
        <li><a href="{{ url_for('temperatureresource') }}?html=true">Temperature</a>
    </ul>
</nav>

<section class="content">
    <header>
        {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
</section>
<section class="status">
    <header>
        {% block header_status %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block status %}{% endblock %}
</section>
