{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Temperature{% endblock %}</h1>
{% endblock %}

{% block content %}
    <article class="post">
        <div class="grid-container">
            <div>
                <header>
                    <div>
                        <h1>Current Temperature</h1>
                    </div>
                </header>
                <p class="body">{{ temperature }}</p>
            </div>
        </div>
        <div class="grid-container">
            <div>
                <header>
                    <div>
                        <h1>Target Temperature</h1>
                    </div>
                </header>
                <p class="body">{{ target }}</p>
            </div>
            <div>
                <header>
                    <div>
                        <h1>Change Target Temperature</h1>
                    </div>
                </header>
                <form action="{{ url_for('temperatureresource') }}?html=true" method="post" enctype="application/json">
                    New target temperature: <input type="text" name="target">
                    <label for="submit-target" class="custom-upload">
                        Submit
                    </label>
                    <input id="submit-target" type="submit" value="Submit">
                </form>
            </div>
        </div>
        <div class="grid-container">
            <div>
                <header>
                    <div>
                        <h1>Temperature Tolerance</h1>
                    </div>
                </header>
                <p class="body">{{ tolerance }}</p>
            </div>
            <div>
                <header>
                    <div>
                        <h1>Change Temperature Tolerance</h1>
                    </div>
                </header>
                <form action="{{ url_for('temperatureresource') }}?html=true" method="post" enctype="application/json">
                    New temperature tolerance: <input type="text" name="tolerance">
                    <label for="submit-tolerance" class="custom-upload">
                        Submit
                    </label>
                    <input id="submit-tolerance" type="submit" value="Submit">
                </form>
            </div>
        </div>
    </article>
{% endblock %}
